/*----------------------------------------------------------------------------*\
  Headhesive Specific Styles
/*----------------------------------------------------------------------------*/

/**
 * Headhesive element clone
 * > `clone` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     clone: 'banner--clone';
 *   }
 * }
 */
.banner--clone {

  /* Required styles */
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;

  /* Additional styles */
  background: #c95a5d;

  /* Translate -100% to move off screen */
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);

  /* Animations */
  -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;

}


/**
 * Headhesive stick
 * > `stick` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     stick: 'banner--stick';
 *   }
 * }
 */
.banner--stick {

  /* Translate back to 0%; */
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
}


/**
 * Headhesive unstick
 * > `unstick` class for the cloned element:
 *
 * @example
 * var options = {
 *   classes {
 *     unstick: 'banner--unstick';
 *   }
 * }
 */
.banner--unstick {
  /* Not required to use, but could be useful to have */
}









//////////////////////




.ham
  width 100%
  background dark_bg
  transform translateZ(0)
  position fixed
  z-index 10000

  #ham
    padding 20px
    float left
    display inline-block
    max-width 15px
  #ham-logo
    padding-top 15px
    position relative
    left 20px
    display inline-block
    max-width 200px

.main-menu
  background-color dark_bg
  display none
  font-weight 200
  a
    text-decoration none
    display block
    color white
    padding 10px 10px
  ul
    margin 0
    padding 10px
    list-style none
    li
      cursor pointer
      text-transform uppercase
    #logo
      padding 20px 10px
      width 200px
    #social
      img
        width 36px

    .hover
      border-bottom 4px solid dark_bg
      &:hover
        background rgba(52, 73, 94, 1.0)
        border-bottom 4px solid light_blue

    .active
      transform: translate3d(0, 0, 0);
      background rgba(52, 73, 94, 1.0)
      border-bottom 4px solid light_blue



.btn
  .active
    background transparent !important
    border-bottom 0 !important

+above(900px)

  #menu
    background dark_bg

    text-align center

    #sticky
      background-color dark_bg
      width 100%
      border-bottom 1px solid #3E4853
      box-shadow 0 1px 2px 2px rgba(0,0,0,.2)


    .blu
      width 1024px
      background-color dark_bg
      margin 0 auto
    .ham
      display none

      #ham
        display none
      #ham-logo
        padding 15px
        position relative
        left 20px

    .main-menu
      // border-bottom 1px solid #3E4853
      // box-shadow 0 1px 2px 2px rgba(0,0,0,.2)
      display block

      a
        padding 14px 10px
      ul
        padding 0

        #logo
          padding 10px 10px 5px 10px
          //background black
        li
          display inline-block
          vertical-align middle

          .btn
            a
              padding 0
        #social
          a
            padding 0 10px 0 0 !important
            position relative
            top 6px


+above(1050px)
  #menu

    #sticky
      background-color dark_bg
      width 100%
      border-bottom 1px solid #3E4853
      box-shadow 0 1px 2px 2px rgba(0,0,0,.2)

    .main-menu
      border-bottom 0
      box-shadow 0

      display block

      a
        padding 14px 15px
      ul
        margin 0
        list-style none
        #logo
          padding-right 20px
          text-align left
        #social
          padding-left 50px
        li
          display inline-block
          vertical-align middle
          padding 0
          cursor pointer
          text-transform uppercase
