
@import '_base'
@import '_menu'

body
  //lost-utility edit

// Init



.gallery-hero-wrapper
  background url(../images/hero-texture.png)
  //background-color rgba(0,0,0,.4)
  .gallery-hero
    text-align center
    padding 40px 20px

    .gallery-hero-img
      width 40%
      margin 0 auto
      padding-top 40px
    .gallery-hero-text
      color white
      h1
        line-height 30px
      h1#hero-main-text
        font-size 2em
        font-weight 200
        span
          &:first-child
            color light_blue
            font-weight bold
          &:last-child
            font-weight bold
      h1.hero-second-text
        font-weight 200
        font-size 2em
        span
          font-size .5em
          &:last-child
            font-weight bold
            font-size 1em




.ilprogetto-wrapper
  background url(../images/hero-texture.png)
  padding 20px
  text-align center
      color white
  h2
    line-height 30px
    font-size 1.8em
    font-weight 200
    span
      &:first-child
        color light_blue
      &:last-child
        font-weight bold
  p
    font-weight 200





.living-lab-carousel
  background dark_blue
  font-weight 200
  margin-top -10px
  .living-lab-section
    padding 20px
    h2
      font-weight 200
      color light_blue
      span
        font-weight bold
    h3
      font-weight 200
    p
      font-weight 200




.ecosystem-wrapper
  padding 20px
  text-align center
  .ecosystem-text
    h2
      color light_blue
      font-weight 200
      span
        color gray
        span
          font-weight bold
    p
      color gray
      font-weight 200


.app-wrapper
  width 100%
  .app-device
    text-align center
    .app-phone
      display none

  .app-text
    background url(../images/app-bg.jpg) no-repeat center
    padding 20px
    text-align center
    h2
      font-weight 200
      color light_blue
      span
        font-weight bold
    p
      font-weight 200


.partners-wrapper
  text-align center
  h2
    color light_blue
    font-weight 200



.footer-wrapper
  background dark_bg
  color whitesmoke
  font-weight 200
  padding 20px 0
  text-align center
  a
    color white
    font-weight normal
  #design
    a
      text-decoration none


//////////////// >480








/////////////// >600

//+above(600px)









/////////////// > 768










/////////////// > 1100









/////////////// > 1300
