
@import '_base'
@import '_menu'

body
  //lost-utility edit

.mobile
  display block

.web
  display none

+above(768px)
  .mobile
    display none

  .web
    display block

// Init
.jPanelMenu, body
  overflow-x  hidden !important

.owl-pagination
  padding-top 50px
    z-index: 3000;

#esperienza
  background url(../images/hero-texture.png)
  position relative
  z-index 300

.gallery-hero-wrapper

  //background-color rgba(0,0,0,.4)
  .gallery-hero
    text-align center
    padding 40px 20px

    .gallery-hero-img
      width 40%
      margin 0 auto
      padding-top 40px
      vertical-align middle
      img
        //max-height 300px
        // &:last-child
        //   max-width 200px
        max-width 100%


    .gallery-hero-text
      color white
      //padding-right 10px
      position relative
      left -5px
      h1
        line-height 30px
      h1#hero-main-text
        font-size 2em
        font-weight 200
        span
          &:first-child
            color light_blue
            font-weight bold
          &:last-child
            font-weight bold
      h1.hero-second-text
        font-weight 200
        font-size 2em
        span
          font-size .5em
          &:last-child
            font-weight bold
            font-size 1em




.ilprogetto-wrapper
  //background url(../images/hero-texture.png)
  padding 20px
  text-align center
      color white
  h2
    line-height 30px
    font-size 1.8em
    font-weight 200
    span
      &:first-child
        color light_blue
      &:last-child
        font-weight bold
  p
    font-weight 200




.living-lab-image
  background url(../images/ll.png) no-repeat center
  background-size cover
.living-lab-carousel
  background dark_blue
  font-weight 200
  margin-top -10px
  .living-lab-section
    padding 20px
    h2
      font-weight 200
      color light_blue
      span
        font-weight bold
    h3
      font-weight 200
    p
      font-weight 200




.ecosystem-wrapper
  padding 20px
  text-align center
  .ecosystem-text
    h2
      color light_blue
      font-weight 200
      span
        color gray
        span
          font-weight bold
    p
      color gray
      font-weight 200


.app-wrapper
  width 100%
  .app-device
    text-align center
    .app-phone
      display none

  .app-text
    background url(../images/app-bg.jpg) no-repeat center
    padding 20px
    text-align center
    h2
      font-weight 200
      color light_blue
      span
        font-weight bold
    p
      font-weight 200

.partners-wrapper
  text-align center
  padding 50px
  h2
    color light_blue
    font-weight 200
  div
    padding 20px
    .width
      width 150px
      position relative
      top 15px
    img
      max-width 200px
      max-height 150px



.footer-wrapper
  background dark_bg
  color whitesmoke
  font-weight 200
  padding 20px 0
  text-align center
  a
    color white
    font-weight normal
  #design
    a
      text-decoration none


//////////////// >480



+below(600px)
  .app-device
    padding-bottom 30px



/////////////// >600

+above(600px)

  .owl-pagination
    padding-top 0

  span
    display inline-block

  .gallery-hero-wrapper
    .gallery-hero
      text-align center
      padding 40px 0
      text-align right

      .gallery-hero-img
        lost-column 5/10
        position relative
        right 30px
        padding-top 40px

        img
          max-height 345px

        #top-low
          position relative
          top 80px
          img
            max-height 212px
      .gallery-hero-text
        lost-column 5/10
        max-width 400px
        text-align left
        padding-top 100px
        color white





  .ilprogetto-wrapper
    lost-utility: clearfix;
    position relative
    z-index 101
    .center
      lost-center 800px
      div:first-child
        lost-column 4/10
        h2
          span
            &:last-child
              display inline-block

      div:last-child
        lost-column 6/10



  .living-lab-wrapper
    width 100%
    lost-utility: clearfix;
    .living-lab-image
      lost-column 8/12 2 0px
      overflow hidden
      margin 0
      min-height 100%
      position relative
      z-index 100
      box-shadow: 2px 0 5px 2px rgba(0,0,0,.4);
      img
        height 100%
        max-width none
        vertical-align bottom
    .living-lab-carousel
      lost-column 4/12 2 0px

      margin-top 0
      .living-lab-section
        padding 20px
        h2
          font-weight 200
          color light_blue
          span
            font-weight bold
        h3
          font-weight 200
        p
          font-weight 200

  .ecosystem-wrapper
    padding 60px 20px
    text-align left
    lost-center 1024px
    lost-utility: clearfix;
    .ecosystem-text
      lost-column 4/12
    .ecosystem-image
      lost-column 7/12
      lost-move 1/12
      top 95px


  .app-wrapper
    background url(../images/app-bg.jpg) no-repeat
    background-size cover
    height 500px

    .app-device
      text-align left
      lost-column 5/12
      height 100%
      transform scale(.7)
      position relative
      bottom 30px
      .app-phone
        display block
        position absolute
        width 297px
      .app-carousel
        position relative
        top 70px
        left 19px
        width 257px
    .app-text
      background none
      padding 20px
      text-align left
      padding-top 100px


    .owl-pagination
      position: relative;
      bottom: 45px;
      background-color: black;





  .partners-wrapper
    height 100%
    lost-center 900px
    padding-bottom 150px
    padding-top 500px
    h2
      text-align left
    p
      text-align left
      color #4A4A4A
      display inline-block
    div
      padding 20px 0
      text-align center
    .top-stac
      margin-top 100px
    .decenter
      padding-top 50px
    .partners-grid-first
      position relative
      padding 0 0 50px 0
      display block

      div
        lost-waffle 1/3
        img
          max-width 100%
          vertical-align middle

          max-height 130px
          margin 0 auto
     .partners-grid-second
        padding 0
        div
          lost-waffle 1/4

    div
      img
        display inline-block
        max-width 100%
        vertical-align middle

  .footer-wrapper

    text-align auto
    lost-utility: clearfix;

    #design
      lost-column 5/10
      text-align left
      position relative
      left 10px
    #contact
      lost-column 5/10
      text-align right
      position relative
      right 10px

    p
      *
        display inline-block
/////////////// > 768



+above(800px)


  .ecosystem-wrapper
    .ecosystem-image
      top 0






/////////////// > 1000


+above(1000px)


  .app-wrapper

    height 600px

    .app-device

      transform scale(1)
      position relative
      bottom 100px
      left 50px
      .app-phone
        display block
        position absolute
        width 297px
      .app-carousel
        position relative
        top 70px
        left 19px
        width 257px
    .app-text
      lost-column 5/12
      background none
      padding 20px
      text-align left
      padding-top 100px



  .partners-wrapper
    padding-bottom 200px
    padding-top 80px







///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
////////////  sperimentazione  ////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////
///////////////////////////////////////////////


#numeri-1
  background url(../images/hero-texture.png)
  padding-top 20px
  padding-bottom 30px
  h2
    color #2BB4E1
    line-height: 30px;
    font-size: 35px;
    font-weight: 200;
    padding-bottom 30px

    span
      color white

+above(768px)
  #numeri-1
    padding-top 50px

    h2

      padding-bottom 50px
  #top-rel
    position relative
    top -42px

#partecipanti
  background-color #33526F

#wrapper-left
  background-color #FFFFFF
#wrapper-right
  background-color #E9E9EA
#comfort
  background-color #33526F


.wrapper
  width 100%
  .wrapper-inner
    lost-center 1280px 20px
    lost-utility clearfix

.graph-wp
  width 100%
  lost-utility clearfix
  padding-bottom 30px
  .graph-13
    lost-column 1/1
    text-align center
    padding 20px 0
    img
      vertical-align middle

  .graph-wp-min
    lost-center 600px 0
    lost-utility clearfix
    .graph-13-min
      lost-column 1/3
      text-align center

+above(768px)
  .graph-wp
    .graph-13
      lost-column 1/3



#partecipanti
  h2
    font-size: 35px;
    margin 0
  .center
    max-width 1280px
.ilprogetto-wrapper
  .mobile, .web
    padding 25px 0
    text-align center


#numeri-2
  lost-utility clearfix
  h2
    color #2BB4E1
    line-height: 30px;
    font-size: 35px;
    font-weight: 200;
    padding-left 20px

    span
      color #3F4B57

  .mobile, .web
    padding 25px 0
    text-align center

+above(768px)
  #numeri-2
    #wrapper-right
      h2
        padding-left 30px
    #wrapper-left
      h2
        padding-left 0
  .wrapper-half
    lost-column 1/2 0 0
    padding-bottom 30px
    .wrapper-half-inner
      max-width 640px

  #wrapper-left
    .wrapper-relative
      width 100%
      position relative
      .wrapper-half-inner
        margin-left auto


#comfort
  h2
    color #2BB4E1
    line-height: 30px;
    font-size: 35px;
    font-weight: 200;
    margin-bottom 5px

    span
      color white
  .p-title
    margin 0
    font-size 14px
    color white
    font-weight 200
  .singlepar
    font-size 25px
    color white


.graph-full
  width 100%
  text-align center

.graph-14
  width 100%
  text-align center
+above(768px)
  .graph-14
    lost-column 1/4


.wrapper-12
  padding-bottom 30px
  h3
    color #63C7EA
    font-size 25px
    font-weight 200
  p
    padding-bottom 30px
    color #4A4A4A
  a

    padding 2px 20px
    background #28A6DB
    color white
    box-shadow: 1px 1px 4px 1px #B8B8B8;
    border-radius 3px
    text-decoration none
    transition .4s all ease-in-out
    &:hover
      opacity .7

+above(768px)
  .wrapper-12
    lost-column 1/2 0
    .img
      min-height 170px
      img
        vertical-align bottom
    p
      max-width 388px
