
@import '_base'



// Init



.gallery-hero
  text-align center
  padding 20px



.ilprogetto-wrapper
  padding 20px
  text-align center




.living-lab-carousel
  background whitesmoke
  .living-lab-section
    padding 20px




.ecosystem-wrapper
  padding 20px
  text-align center



.app-wrapper
  width 100%
  .app-device
    text-align center
    .app-phone
      display none

  .app-text
    padding 20px
    text-align center


.partners-wrapper
  text-align center



.footer-wrapper
  background dark_bg
  color whitesmoke
  padding 20px 0
  text-align center


//////////////// >480








/////////////// >600









/////////////// > 768










/////////////// > 1100









/////////////// > 1300
