.partners-wrapper
  h1
    | partners
  
  .partners-grid-first
    div
      img(src="", alt="")
    div
      img(src="", alt="")
    div
      img(src="", alt="")
  
  .partners-grid-second
    div
      img(src="", alt="")
    div
      img(src="", alt="")
    div
      img(src="", alt="")
    div
      img(src="", alt="")
    div
      img(src="", alt="")
    div
      img(src="", alt="")
    div
      img(src="", alt="")
    div
      img(src="", alt="")
