.app-wrapper
  .center
    .app-device
      .app-phone
        img(src="images/samsung.png")
      .app-carousel.owl-carousel
        div
          img(src="images/app-1.png", alt="")
        div
          img(src="images/app-2.png", alt="")
        div
          img(src="images/app-3.png", alt="")
        div
          img(src="images/app-4.png", alt="")
    .app-text
      h2
        | l'
        span app
      p
        | Una nuova porta d’accesso sarà disponibile per creare una comunicazione diretta e flessibile tra ambiente e persone. L’app di ComfortSense permetterà di localizzarsi, visualizzare i dati ambientali e il livello di comfort generale, con la possibilità di mandare feedback personali per permettere all’ambiente di adattarsi
      .btn
        a(href="https://play.google.com/store/apps/details?id=it.piemonteoid.comfortsense&hl=en" target="_blank")
          | Scarica l'app in beta
        
