.ecosystem-wrapper
  .ecosystem-text
    h2
      | l'ecosistema
      br
      span
        | comfort
        span 
          | sense 
    p
      | Un sistema di sensori fissi e portatili raccoglie i dati ambientali relativi al comfort e li rende disponibili tramite l’app. Le persone possono, a loro volta, restituire un riscontro soggettivo che permetter&#224; al sistema di imparare e adattarsi alle necessit&#224; collettive di chi utilizza gli spazi.
    .btn
      a(href="/sperimentazione.html")
        | Visualizza i dati raccolti
  .ecosystem-image
    img(src="images/ecosistem.png")
