//Sidr

#menu
  #sticky
    .blu
    
      .ham.header#header
        div#ham
          img(src="images/ham.png")
        div#ham-logo
          img(src="images/CS-logo1x.png")

      .main-menu
        nav#nav
          ul.nav.navbar-nav
            li#logo
              img(src="images/CS-logo1x.png")
            li
              a.hover(href="#esperienza")
                | l'esperienza
            li
              a.hover(href="#livinglab-s")
                | il living lab
            li
              a.hover(href="#ecosistema")
                | l'ecosistema
            li
              a.hover(href="#partner")
                | i partner
            li#social
              a(href="#")
                img(src="images/FB-button.png")
            li#download
              button.btn
                a(href="http://download.com")
                  | Scarica l'app
            
              
