//Sidr

#menu
  #sticky
    .blu
    
      .ham.header#header
        div#ham
          img(src="images/ham.png")
        div#ham-logo
          img(src="images/CS-logo1x.png")

      .main-menu
        nav
          ul
            li#logo
              img(src="images/CS-logo1x.png")
            li
              a(href="#")
                | l'esperienza
            li
              | il living lab
            li.active
              | l'ecosistema
            li
              | i partner
            li#download
              button.btn
                | Scarica l'app
            li#social
              img(src="")
              
