.partners-wrapper
	
	.partners-grid-first
		div.decenter
			img(src="images/partner-07.png", alt="")
		div
			img(src="images/partner-05.png", alt="")
		div.decenter
			img(src="images/partner-06.png", alt="")
	p
		| Progetto finanziato nell'ambito del POR FESR 2007/2013  della Regione Piemonte con il concorso di risorse comunitarie del FESR, dello Stato Italiano e della Regione Piemonte
	h2
		|	I partners
	.partners-grid-second
		div.decenter
			img(src="images/partner-1.png", alt="")
		div.decenter
			img.width(src="images/partner-02.png", alt="")
		div
			img(src="images/partner-03.png", alt="")
		div
			img(src="images/partner-04.png", alt="")

		div
			img(src="images/partner-08.png", alt="")
		div.decenter
			img(src="images/partner-09.png", alt="")
		div.decenter
			img(src="images/partner-010.png", alt="")
		div.decenter
			img(src="images/partner-011.png", alt="")
		div.decenter
			img(src="images/partner-012.png", alt="")
		div.decenter
			img(src="images/partner-013.png", alt="")
		div
			img(src="images/partner-014.png", alt="")
		div
			img(src="images/partner-015.png", alt="")
