.partners-wrapper
  h2
    |  I partners
  
  .partners-grid-first
    div
      img(src="images/partner1.png", alt="")
    div
      img(src="images/partner2.png", alt="")
    div
      img(src="images/partner4.jpg", alt="")
  
  .partners-grid-second
    div
      img(src="images/partner5.jpeg", alt="")
    div
      img(src="images/partner6.jpg", alt="")
    div
      img(src="images/partner7.bmp", alt="")
    div
      img(src="images/partner8.bmp", alt="")
    div
      img(src="images/partner9.png", alt="")
    div
      img(src="images/partner10.jpg", alt="")
    div
      img(src="images/partner11.png", alt="")
    div
      img(src="images/partner12.png", alt="")
