//Sidr

#menu
  #sticky
    .blu
    
      .ham.header#header
        div#ham
          img(src="images/ham.png")
        div#ham-logo
          img(src="images/CS-logo1x.png")

      .main-menu
        nav#nav
          ul.nav.navbar-nav
            li#logo
              a(href="/")
                img(src="images/CS-logo1x.png")
            li
              a.hover(href="/#esperienza")
                | l'esperienza
            li
              a.hover(href="/#livinglab-s")
                | il living lab
            li
              a.hover(href="/#ecosistema")
                | l'ecosistema
            li
              a.hover(href="/#partner")
                | i partner
            li#social
              a(href="https://www.facebook.com/progettocomfortsense?fref=ts" target="_blank")
                img(src="images/FB-button.png")
            li#download
              .btn
                a(href="https://play.google.com/store/apps/details?id=it.piemonteoid.comfortsense&hl=en" target="_blank")
                  | Scarica l'app
            
              
