.wrapper
  .wrapper-inner
    h2 i numeri della 
      span sperimentazione
    
    .graph-wp
      .graph-13
        img(srcset="images/sp/01_numeri/sensorifissi.png 1x, images/sp/01_numeri/sensorifissi_2x.png 2x", alt="")
      .graph-13#top-rel
        img(srcset="images/sp/01_numeri/ebeacon.png 1x, images/sp/01_numeri/ebeacon_2x.png 2x", alt="")
      .graph-13
        img(srcset="images/sp/01_numeri/locali.png 1x, images/sp/01_numeri/locali_2x.png 2x", alt="")

    .graph-wp
      .graph-wp-min
        .graph-13-min
          img(srcset="images/sp/01_numeri/wearable.png 1x, images/sp/01_numeri/wearable2x.png 2x", alt="")
        .graph-13-min
          img(srcset="images/sp/01_numeri/luminosita.png 1x, images/sp/01_numeri/luminosita2x.png 2x", alt="")
        .graph-13-min
          img(srcset="images/sp/01_numeri/downloads.png 1x, images/sp/01_numeri/downloads2x.png 2x", alt="")
