.ilprogetto-wrapper
  div.center
    div
      h2
        span partecipanti 
        br
        | coinvolti
        
    div
      p
        | Tramite l’applicazione di ComfortSense è stata data la possibilità ad ogni partecipante di creare un profilo personale che permettesse di capire la tipologia di persone che hanno preso parte alla sperimentazione.

  .mobile
    img(src="images/sp/02_partecipanti/m.png", alt="")
  .web
    img(src="images/sp/02_partecipanti/w.png", alt="")
