.wrapper
  .wrapper-half#wrapper-left
    .wrapper-relative
      .wrapper-half-inner
        h2 numero 
          span valutazioni 
          
        .mobile
          img(srcset="images/sp/03_numeri/1m.png 1x, images/sp/03_numeri/1m_2x.png 2x", alt="")
        .web
          img(srcset="images/sp/03_numeri/1w.png 1x, images/sp/03_numeri/1w_2x.png 2x", alt="")
    
  .wrapper-half#wrapper-right
    .wrapper-half-inner
      h2 numero 
        span misurazioni
        
      .mobile
        img(srcset="images/sp/03_numeri/2m.png, images/sp/03_numeri/2m_2x.png 2x", alt="")
      .web
        img(srcset="images/sp/03_numeri/2w.png, images/sp/03_numeri/2w_2x.png 2x", alt="")
