.wrapper
  .wrapper-half#wrapper-left
    .wrapper-relative
      .wrapper-half-inner
        h2 numero 
          span valutazioni 
          
        .mobile
          img(src="images/sp/03_numeri/1m.png", alt="")
        .web
          img(src="images/sp/03_numeri/1w.png", alt="")
    
  .wrapper-half#wrapper-right
    .wrapper-half-inner
      h2 numero 
        span misurazioni
        
      .mobile
        img(src="images/sp/03_numeri/2m.png", alt="")
      .web
        img(src="images/sp/03_numeri/2w.png", alt="")
