.wrapper
  .wrapper-inner
    h2 comfort 
      span globale
    p.p-title Dal 01 GIUGNO 2015 al 30 SETTEMBRE 2015
    
    .graph-full
      img(srcset="images/sp/04_comfort/grafico.png 1x, images/sp/04_comfort/grafico_2x.png 2x", alt="")
      
    p.singlepar Parametri singoli
    
    .graph-wp
      .graph-14
        img(srcset="images/sp/04_comfort/1.png 1x, images/sp/04_comfort/1_2x.png 2x", alt="")
      .graph-14
        img(srcset="images/sp/04_comfort/2.png 1x, images/sp/04_comfort/2_2x.png 2x", alt="")
      .graph-14
        img(srcset="images/sp/04_comfort/3.png 1x, images/sp/04_comfort/3_2x.png 2x", alt="")
      .graph-14
        img(srcset="images/sp/04_comfort/4.png 1x, images/sp/04_comfort/4_2x.png 2x", alt="")
