.wrapper
  .wrapper-inner
    h2 comfort 
      span globale
    p.p-title Dal 01 GIUGNO 2015 al 30 SETTEMBRE 2015
    
    .graph-full
      img(src="images/sp/04_comfort/grafico.png", alt="")
      
    p.singlepar Parametri singoli
    
    .graph-wp
      .graph-14
        img(src="images/sp/04_comfort/1.png", alt="")
      .graph-14
        img(src="images/sp/04_comfort/2.png", alt="")
      .graph-14
        img(src="images/sp/04_comfort/3.png", alt="")
      .graph-14
        img(src="images/sp/04_comfort/4.png", alt="")
