.wrapper
  .wrapper-inner
    h2 accesso ai 
      span dati
    .wrapper-12
      .img
        img(srcset="images/sp/05_accesso/1.png 1x, images/sp/05_accesso/1_2x.png 2x", alt="")
      h3 Grafico
      p I valori oggettivi rilevati dai sensori e i feedback di comfort rilasciati dagli utenti durante il periodo di sperimentazione sono stati raccolti e resi accessibili. È possibile scegliere diverse tipologie di valori da visualizzare e il periodo di interesse per creare grafico che li confronti nel tempo.
      a(href="#") Confronta i dati
    .wrapper-12
      .img
        img(srcset="images/sp/05_accesso/2.png 1x, images/sp/05_accesso/2_2x.png 2x", alt="")
      h3 Mappa
      p I valori rilevati sono inoltre navigabili tramite una mappa di calore del campus di interesse. È possibile infatti selezionare un valore oggettivo oppure i feedback di comfort provenienti dagli utenti in una fascia di tempo a piacere per poterne vedere la distribuzione all’interno dei locali del campus.
      a(href="#") Visualizza la mappa
