doctype html
// if lt IE 7html.no-js.lt-ie9.lt-ie8.lt-ie7(lang="en")
// if IE 7html.no-js.lt-ie9.lt-ie8(lang="en")
// if IE 8html.no-js.lt-ie9(lang="en")
//if gt IE 8
  | [if gt IE 8]
html.no-js(lang="en")
  // <![endif]
  head
    
      meta(charset="utf-8")
      meta(content="IE=edge,chrome=1", http-equiv="X-UA-Compatible")
      title Comfortsense
      meta(content="", name="description")
      meta(content="width=device-width, initial-scale=1, maximum-scale=1", name="viewport")
      meta(name="apple-mobile-web-app-capable", content = "yes")
      meta(name="apple-mobile-web-app-status-bar-style", content ="black")
      link(rel="icon" type="image/png" href="images/favicon.png")
      link(href='http://fonts.googleapis.com/css?family=Titillium+Web:200,400,600,700,300&subset=latin' rel='stylesheet' type='text/css')
      link(href="css/vendor.css", rel="stylesheet")
      link(href="css/app.css", rel="stylesheet")
      
  
  body
  
  
    block menu
      include partials/sperimentazione/00_menu.jade
    
    #numeri-1.scrollto
      block numeri-1
        include partials/sperimentazione/01_numeri.jade
        
    
    #partecipanti.scrollto
      block partecipanti
        include partials/sperimentazione/02_partecipanti.jade
    
    #numeri-2.scrollto
      block numeri-2
        include partials/sperimentazione/03_numeri.jade
      
    
    #comfort.scrollto
      block comfort
        include partials/sperimentazione/04_comfort.jade
  
    #accesso.scrollto
      block accesso
        include partials/sperimentazione/05_accesso.jade
  
  
    footer
      block footer
        include partials/_footer.jade
      
      
      
      
    block scripts
      script(src="../js/app.js") 
